<?xml version="1.0" encoding="utf-8" ?>
<configuration>   
    
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IService1">
                    <security>
                        <message clientCredentialType="UserName" negotiateServiceCredential="false" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pauline.informatik.tu-chemnitz.de/WcfAddService/Service1.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService1"
                contract="ServiceReference1.IService1" name="WSHttpBinding_IService1">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAA86iN+NZkOgNKGTUYpsPXJFsZ76sgAAAAAQAAAJICAAAwggKOMIIB96ADAgECAgUAmhnmojANBgkqhkiG9w0BAQUFADBgMQswCQYDVQQGEwJVUzELMAkGA1UECBMCTkoxFjAUBgNVBAcTDUJhc2tpbmcgUmlkZ2UxFDASBgNVBAoTC1NlbGYtU2lnbmVkMRYwFAYDVQQDEw1XY2ZBZGRTZXJ2aWNlMB4XDTEyMTIxNDEyMzExNFoXDTE1MTIxNDEyMzExNFowYDELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAk5KMRYwFAYDVQQHEw1CYXNraW5nIFJpZGdlMRQwEgYDVQQKEwtTZWxmLVNpZ25lZDEWMBQGA1UEAxMNV2NmQWRkU2VydmljZTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAmlPqKV+V6xSlbzKTmYDDs4fBE0rETRDV3G0iNrLdDDA17rKMrKxZTXzY/7tixRscCkhKn/E6MW6CnF/ETAE8NYIA86+NenWByVSXqkq3l0FrGiDhEaMCu0xjeCb16GOWL3OTNrAJefjFqSA182P0P7V08TnxpnOXOu8mtBpOcTMCAwEAAaNUMFIwHQYDVR0OBBYEFBVWwJQzq+MUpIz0E6TqJdR5VoiJMBMGA1UdJQQMMAoGCCsGAQUFBwMBMA4GA1UdDwEB/wQEAwIE8DAMBgNVHRMBAf8EAjAAMA0GCSqGSIb3DQEBBQUAA4GBAJd6F5k3hw9jgqg/BCVaqwcm9I4vT76vwF9om9Koax3pOqhWDIlqcSN/Y76KHoioUcAmuiIZaC/D49yOcGC85rpNfeLFtYIXZEQGIPlxXo37UvOSfefyCaLOGLz7LnSdXZq+Csad73YmjDOMmR/tGf07MUiSK3qvl3qXwaJ3UWm/" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>